
  .activity-feed {
    padding: 15px;
  }
  .activity-feed .feed-item {
    position: relative;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 2px solid #e4e8eb;
  }
  .activity-feed .feed-item:last-child {
    border-color: transparent;
  }
  .activity-feed .feed-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: #fff;
    border: 1px solid #377dff;
  }
  .activity-feed .feed-item .date {
    position: relative;
    top: -5px;
    color: #8c96a3;
    text-transform: uppercase;
    font-size: 13px;
  }
  .activity-feed .feed-item .text {
    position: relative;
    top: -3px;
  }

.reply-button {
    color: #377dff;
}

.reply-button:hover {
    color: #0052ea;
}

div.stars {
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: rgb(255, 238, 0);
    text-shadow: 0 0 20px rgb(248, 236, 56);
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    color: rgb(255, 238, 0);
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f005';
    color: #444;
    font-family: 'Font Awesome 5 Free';
}
